In [82]:
#importing dependencies
import pandas as Pd 
from pathlib import Path
import matplotlib.pyplot as plt
import numpy as np

In [83]:
csv_path="Resources/Wheat_StateByState.csv"
csv_file=Pd.read_csv(csv_path,encoding='cp1252')

In [84]:
csv_file

,Winter Crop,New South Wales,Unnamed: 2,Victoria,Unnamed: 4,Queensland,Unnamed: 6,South Australia,Unnamed: 8,Western Australia,Unnamed: 10,Tasmania,Unnamed: 12
0,NaN,area,prod.,area,prod.,area,prod.,area,prod.,area,prod.,area,prod.
1,NaN,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,kt
2,Wheat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017–18,2793.5,4702.8,1446.8,3 682.1,639.2,765.4,1 975.8,4 052.0,4 056.6,7 698.6,7.4,40.3
4,2018–19,2382,1850.3,1402.9,2 276.6,419.7,419.7,1 820.8,3 024.5,4 369.2,9 979.2,7.6,40.1
5,2019–20,2132,1772.4,1428.9,3 714.3,441.5,418.5,1 720.9,2 689.1,4 132.7,5 842.2,7.2,43.8
6,2020–21,4037,12972.2,1413.4,4 525.0,966.1,1 594.2,1 831.0,3 982.2,4 387.5,8 792.7,8.2,56.3
7,2021–22,3607.7,12029.4,1444.6,4 246.4,940.6,2 222.4,2 008.1,4 750.1,4 718.0,12 919.1,9.3,70
8,2022–23 s,3600,10620,1500,5 392.9,980,2 600.0,2 200.0,7 350.0,4 750.0,14 500.0,15,82.5
9,2023-24 f,3300,6600,1540.4,4 618.9,800,1 100.0,2 200.0,4 900.0,4 650.0,8 150.0,12,85
10,Five–year average to 2022–23,3151.7,7848.9,1437.9,4 031.1,749.6,1 450.9,1 916.2,4 359.2,4 471.5,10 406.7,9.5,58.5

In [85]:
wheat_export_df=csv_file.iloc[3:9]

wheat_export_df.iloc[5,0]="2022-23"
wheat_export_df=wheat_export_df.reset_index().drop(['index'],axis=1)
wheat_export_df

C:\Users\61415\AppData\Local\Temp\ipykernel_13140\3748918413.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wheat_export_df.iloc[5,0]="2022-23"

,Winter Crop,New South Wales,Unnamed: 2,Victoria,Unnamed: 4,Queensland,Unnamed: 6,South Australia,Unnamed: 8,Western Australia,Unnamed: 10,Tasmania,Unnamed: 12
0,2017–18,2793.5,4702.8,1446.8,3 682.1,639.2,765.4,1 975.8,4 052.0,4 056.6,7 698.6,7.4,40.3
1,2018–19,2382,1850.3,1402.9,2 276.6,419.7,419.7,1 820.8,3 024.5,4 369.2,9 979.2,7.6,40.1
2,2019–20,2132,1772.4,1428.9,3 714.3,441.5,418.5,1 720.9,2 689.1,4 132.7,5 842.2,7.2,43.8
3,2020–21,4037,12972.2,1413.4,4 525.0,966.1,1 594.2,1 831.0,3 982.2,4 387.5,8 792.7,8.2,56.3
4,2021–22,3607.7,12029.4,1444.6,4 246.4,940.6,2 222.4,2 008.1,4 750.1,4 718.0,12 919.1,9.3,70
5,2022-23,3600,10620,1500,5 392.9,980,2 600.0,2 200.0,7 350.0,4 750.0,14 500.0,15,82.5

In [86]:
wheat_export_df=wheat_export_df.rename(columns={'Winter Crop':'year','Unnamed: 2':'New South Wales(kt)','Unnamed: 4':'Victoria(kt)','Unnamed: 6':'Queensland(kt)'\
    ,'Unnamed: 8':'South Australia(kt)','Unnamed: 10':'Western Australia(kt)','Unnamed: 12':'Tasmania(kt)'})
    

wheat_export_df

,year,New South Wales,New South Wales(kt),Victoria,Victoria(kt),Queensland,Queensland(kt),South Australia,South Australia(kt),Western Australia,Western Australia(kt),Tasmania,Tasmania(kt)
0,2017–18,2793.5,4702.8,1446.8,3 682.1,639.2,765.4,1 975.8,4 052.0,4 056.6,7 698.6,7.4,40.3
1,2018–19,2382,1850.3,1402.9,2 276.6,419.7,419.7,1 820.8,3 024.5,4 369.2,9 979.2,7.6,40.1
2,2019–20,2132,1772.4,1428.9,3 714.3,441.5,418.5,1 720.9,2 689.1,4 132.7,5 842.2,7.2,43.8
3,2020–21,4037,12972.2,1413.4,4 525.0,966.1,1 594.2,1 831.0,3 982.2,4 387.5,8 792.7,8.2,56.3
4,2021–22,3607.7,12029.4,1444.6,4 246.4,940.6,2 222.4,2 008.1,4 750.1,4 718.0,12 919.1,9.3,70
5,2022-23,3600,10620,1500,5 392.9,980,2 600.0,2 200.0,7 350.0,4 750.0,14 500.0,15,82.5

In [87]:
reduced_wheat_export_df=wheat_export_df[['year','New South Wales(kt)','Victoria(kt)','Queensland(kt)','South Australia(kt)','Western Australia(kt)',\
    'Tasmania(kt)']]
reduced_wheat_export_df

,year,New South Wales(kt),Victoria(kt),Queensland(kt),South Australia(kt),Western Australia(kt),Tasmania(kt)
0,2017–18,4702.8,3 682.1,765.4,4 052.0,7 698.6,40.3
1,2018–19,1850.3,2 276.6,419.7,3 024.5,9 979.2,40.1
2,2019–20,1772.4,3 714.3,418.5,2 689.1,5 842.2,43.8
3,2020–21,12972.2,4 525.0,1 594.2,3 982.2,8 792.7,56.3
4,2021–22,12029.4,4 246.4,2 222.4,4 750.1,12 919.1,70
5,2022-23,10620,5 392.9,2 600.0,7 350.0,14 500.0,82.5

In [88]:
reduced_wheat_export_df['New South Wales(kt)'].astype(float)
#reduced_wheat_export_df.dtypes

0     4702.8
1     1850.3
2     1772.4
3    12972.2
4    12029.4
5    10620.0
Name: New South Wales(kt), dtype: float64