In [ ]:
#List of dependencies - Use as needed
                #Refer to week 6 notes
        #import requests - Used for APIs
        #from config import api_key - file with API key
        #import time - Used for APIs to expand time between each hit
        #import json - Used for APIs
        #import pprint - Formatting for JSON files

                #Refer to week 5 notes
        #%matplotlib widget - Allows for multiple instances of same plot
        #import matplotlib.pyplot as plt - Create plots
        #import numpy as np - mathematical manipulations
        #from scipy import stats - stats and probability

                #Refer to week 4 notes
        #from pathlib import Path - Link to csv-files
        #import pandas as pd - Read csv files

In [1]:
from pathlib import Path  #Link to csv-files
import pandas as pd  #Read csv files

In [16]:
#Link to climate change csv
climate_path = Path("./Resources/Temperature_change_oceania_1960.csv")

# Read the modified Comic Books csv and store into Pandas DataFrame
climate_change = pd.read_csv(climate_path, encoding="latin1")
climate_change

,Area Code,Area Code (M49),Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
0,5,'016,American Samoa,7001,January,7271,Temperature change,°c,0.624,-0.170,...,0.611,0.636,1.076,1.946,1.796,0.846,1.596,1.296,1.196,1.296
1,5,'016,American Samoa,7001,January,6078,Standard Deviation,°c,0.447,0.447,...,0.447,0.447,0.447,0.447,0.447,0.447,0.447,0.447,0.447,0.447
2,5,'016,American Samoa,7002,February,7271,Temperature change,°c,0.316,-0.050,...,1.251,1.548,1.608,2.688,0.888,1.038,1.588,0.738,0.838,1.038
3,5,'016,American Samoa,7002,February,6078,Standard Deviation,°c,0.505,0.505,...,0.505,0.505,0.505,0.505,0.505,0.505,0.505,0.505,0.505,0.505
4,5,'016,American Samoa,7003,March,7271,Temperature change,°c,-0.762,-0.055,...,1.109,1.269,1.519,1.749,1.899,1.349,1.299,1.699,1.049,1.999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
947,243,'876,Wallis and Futuna Islands,7018,JunJulAug,6078,Standard Deviation,°c,0.309,0.309,...,0.309,0.309,0.309,0.309,0.309,0.309,0.309,0.309,0.309,0.309
948,243,'876,Wallis and Futuna Islands,7019,SepOctNov,7271,Temperature change,°c,-0.106,0.214,...,0.651,0.943,0.671,1.260,1.087,1.287,1.249,1.109,1.462,0.924
949,243,'876,Wallis and Futuna Islands,7019,SepOctNov,6078,Standard Deviation,°c,0.323,0.323,...,0.323,0.323,0.323,0.323,0.323,0.323,0.323,0.323,0.323,0.323
950,243,'876,Wallis and Futuna Islands,7020,Meteorological year,7271,Temperature change,°c,0.323,-0.051,...,0.773,0.686,0.724,1.267,1.062,0.920,1.379,1.274,1.029,0.951
951,243,'876,Wallis and Futuna Islands,7020,Meteorological year,6078,Standard Deviation,°c,0.170,0.170,...,0.170,0.170,0.170,0.170,0.170,0.170,0.170,0.170,0.170,0.170

In [15]:
climate_change = climate_change.loc[(climate_change["Area"] == 'Australia') &
                                    (climate_change["Element"] != "Standard Deviation") &
                                    (climate_change["Months"] == 'Meteorological year')]
climate_change

,Area Code,Area Code (M49),Area,Months Code,Months,Element Code,Element,Unit,Y1961,Y1962,...,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019,Y2020,Y2021,Y2022
66,10,'036,Australia,7020,Meteorological year,7271,Temperature change,°c,0.157,0.126,...,1.499,1.198,1.087,1.172,1.141,1.129,1.422,1.416,0.629,0.754

In [17]:
climate_change.T

,0,1,2,3,4,5,6,7,8,9,...,942,943,944,945,946,947,948,949,950,951
Area Code,5,5,5,5,5,5,5,5,5,5,...,243,243,243,243,243,243,243,243,243,243
Area Code (M49),'016,'016,'016,'016,'016,'016,'016,'016,'016,'016,...,'876,'876,'876,'876,'876,'876,'876,'876,'876,'876
Area,American Samoa,American Samoa,American Samoa,American Samoa,American Samoa,American Samoa,American Samoa,American Samoa,American Samoa,American Samoa,...,Wallis and Futuna Islands,Wallis and Futuna Islands,Wallis and Futuna Islands,Wallis and Futuna Islands,Wallis and Futuna Islands,Wallis and Futuna Islands,Wallis and Futuna Islands,Wallis and Futuna Islands,Wallis and Futuna Islands,Wallis and Futuna Islands
Months Code,7001,7001,7002,7002,7003,7003,7004,7004,7005,7005,...,7016,7016,7017,7017,7018,7018,7019,7019,7020,7020
Months,January,January,February,February,March,March,April,April,May,May,...,DecJanFeb,DecJanFeb,MarAprMay,MarAprMay,JunJulAug,JunJulAug,SepOctNov,SepOctNov,Meteorological year,Meteorological year
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Y2018,0.846,0.447,1.038,0.505,1.349,0.488,0.71,0.507,1.21,0.387,...,0.814,0.292,0.683,0.271,0.896,0.309,1.287,0.323,0.92,0.17
Y2019,1.596,0.447,1.588,0.505,1.299,0.488,1.71,0.507,1.16,0.387,...,1.199,0.292,1.454,0.271,1.614,0.309,1.249,0.323,1.379,0.17
Y2020,1.296,0.447,0.738,0.505,1.699,0.488,1.56,0.507,2.16,0.387,...,1.147,0.292,1.408,0.271,1.434,0.309,1.109,0.323,1.274,0.17
Y2021,1.196,0.447,0.838,0.505,1.049,0.488,1.01,0.507,1.36,0.387,...,0.632,0.292,0.937,0.271,1.087,0.309,1.462,0.323,1.029,0.17
Y2022,1.296,0.447,1.038,0.505,1.999,0.488,1.51,0.507,1.36,0.387,...,0.684,0.292,1.039,0.271,1.159,0.309,0.924,0.323,0.951,0.17

In [ ]:
#Link to APIs (week 6.3), API codes and CSVs (week 4)
    #Add API key file to gitignore

In [ ]:
#Set up APIs (week 6.3)

In [ ]:
#Manipulate CSVs (week 4)

In [ ]:
#Begin mathematical analysis (week 5)
    #Over 6 -- at least 2 per question
    #Ensure labels completed