In [19]:
#List of dependencies - Use as needed
import os
import pandas as pd
#import pycountry
#import geopandas as gpd
#import matplotlib
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import numpy as np
import requests 
import time 
import json
from pprint import pprint 
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
from api import api_key


 
               

                #Refer to week 5 notes
        #%matplotlib widget - Allows for multiple instances of same plot
        #import matplotlib.pyplot as plt - Create plots
        #import numpy as np - mathematical manipulations
        #from scipy import stats - stats and probability

                #Refer to week 4 notes
        #from pathlib import Path - Link to csv-files
        #import pandas as pd - Read csv files

In [58]:
file_path = "Wheat.xlsx"
df1 = pd.read_excel(file_path, sheet_name='Table 15')
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,"Table 15 Supply and disposal of wheat, canola ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Crop,1989–90,1990–91,1991–92,1992–93,1993–94,1994–95,1995–96,1996–97,...,2013–14,2014–15,2015–16,2016–17,2017–18,2018–19,2019–20,2020–21,2021–22,2022–23 s
7,NaN,NaN,kt,kt,kt,kt,kt,kt,kt,kt,...,kt,kt,kt,kt,kt,kt,kt,kt,kt,kt
8,NaN,Wheat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,Production,14214.6,15066.1,10557.3,14738.7,16479.2,8961.4,16503.9,22924.2,...,25302.707,23742.56,22274.514,31818.744,20941.133,17597.561,14480.217,31922.555,36237.477,40545.42
10,NaN,Apparent domestic use,2416.801,3239.106,4095.661,2741.249,3900.685,3873.051,4112.075,3544.1,...,6784.341,7229.255,7294.791,7738.975,8697.47,9107.296,8702.161,7596.413,7140.038,7820.208
11,NaN,seed,414.815,323.231,372.357,377.244,355.082,414.932,492.102,469.827,...,619.184,564.11,609.558,545.959,520.114,493.159,632.161,636.413,652.25,625.12
12,NaN,other a,2001.987,2915.875,3723.304,2364.005,3545.603,3458.12,3619.973,3074.273,...,6165.157,6665.145,6685.233,7193.016,8177.356,8614.136,8070,6960,6487.788,7195.088
13,NaN,Exports,10936.685,11948.953,7077.106,10296.286,13762.605,6310.692,13227.187,19069.231,...,18580.527,16542.971,16082.755,22605.442,13789.692,8961.099,9108.13,23697.109,27484.674,31796.377
14,NaN,Imports,0,0.018,0.147,0.145,0.151,0.077,0.664,0.752,...,1.742,1.215,1.372,0.954,1.22,305.15,665.951,1.104,0.843,0.05
15,NaN,Canola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Production,78.157,98.4,170.448,177.902,305.02,263.892,557.054,623.239,...,3831.909,3540.021,2775.479,4313.23,3893.069,2365.839,2298.529,4756.388,6820.287,8272.506
17,NaN,Apparent domestic use a,78.22,98,159,126,201,179,172,293,...,680,730,730,730,830,730,730,880,980,1100
18,NaN,Exports,0.013,0.024,10.571,51.527,103.353,84.624,384.431,329.568,...,2863.406,2625.865,1857.482,3457.521,2405.709,1591.072,1523.832,3496.329,5606.381,6165
19,NaN,Pulses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,lupins,772.018,757.67,1047.363,1194.983,1479.652,1076.215,1558.995,1521.861,...,625.6,549.1,651.946,1031.425,714.254,798.629,591.146,865.619,957.52,1098
22,NaN,field peas,388.023,318.068,472.571,456.311,558.453,240.407,529.919,454.615,...,342.1,290.4,204.5,415.186,317.209,159.556,210.456,399.28,261.14,313.809
23,NaN,chickpeas,109.368,191.668,221.859,176.938,193.108,68.893,286.909,287.721,...,629.4,555.4,874.593,2004,998.231,205.13,235.165,876.468,1062.25,541
24,NaN,Apparent domestic use a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,lupins,415.367,357.609,523.561,381.435,542.804,556.734,632.453,617.111,...,285.563,306.494,398.373,636.727,258.083,525.655,375.967,406.313,400.234,289.963
26,NaN,field peas,210.152,127.557,256.019,118.858,221.936,108.779,267.588,163.717,...,185.96,132.447,76.248,156.021,189.263,86.746,165.182,274.847,65.737,180.432
27,NaN,chickpeas b,1,76.556,45.16,9.224,1,31.448,127.706,1,...,0.211,1,1,1,1,1,1,1,1,1
28,NaN,Exports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,lupins,356.651,400.061,523.802,813.548,936.848,519.481,926.542,904.75,...,340.037,242.606,253.573,394.698,456.171,272.974,215.18,459.306,557.286,808.037
30,NaN,field peas,181.133,193.285,219.236,339.67,338.473,135.619,266.234,294.002,...,157.893,159.754,129.821,260.753,129.866,75.366,48.03,125.563,196.308,134.434
31,NaN,chickpeas,121.479,115.238,176.811,167.848,194.94,37.552,159.418,382.878,...,629.325,662.782,1145.14,2293.365,723.776,371.321,349.325,878.826,593.802,731.602
32,NaN,a Calculated as a residual: production plus im...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
file_path_two = "Wheat.xlsx"
df2 = pd.read_excel(file_path, sheet_name='Table 13')
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,NaN,2021–22,61.597,685.448,0.129,1.68,0.623,3.317,0,0,0,0,0,0
71,NaN,2022–23 s,51,515,0.107,0.547,0.56,2.985,0,0,0,0,0,0
72,NaN,2023-24 f,70,693.109,0.147,0.881,0.769,5.37,0,0,0,0,0,0
73,NaN,Five–year average to 2022–23,33.5,344.918,0.119,0.791,0.657,3.817,0,0,0,0,0,0
74,NaN,a Cotton area is estimated harvested area. f A...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
file_path_three = "Wheat_StateByState.xlsx"
df3 = pd.read_excel(file_path_three)
df3
#df1.dropna()

,Winter Crop,New South Wales,NSW,Victoria,VIC,Queensland,Q,South Australia,Unnamed: 8,Western Australia,Unnamed: 10,Tasmania,Unnamed: 12
0,NaN,area,prod.,area,prod.,area,prod.,area,prod.,area,prod.,area,prod.
1,NaN,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,kt,'000 ha,kt
2,Wheat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017–18,2 793.5,4 702.8,1 446.8,3 682.1,639.2,765.4,1 975.8,4 052.0,4 056.6,7 698.6,7.4,40.3
4,2018–19,2 382.0,1 850.3,1 402.9,2 276.6,419.7,419.7,1 820.8,3 024.5,4 369.2,9 979.2,7.6,40.1
5,2019–20,2 132.0,1 772.4,1 428.9,3 714.3,441.5,418.5,1 720.9,2 689.1,4 132.7,5 842.2,7.2,43.8
6,2020–21,4 037.0,12 972.2,1 413.4,4 525.0,966.1,1 594.2,1 831.0,3 982.2,4 387.5,8 792.7,8.2,56.3
7,2021–22,3 607.7,12 029.4,1 444.6,4 246.4,940.6,2 222.4,2 008.1,4 750.1,4 718.0,12 919.1,9.3,70
8,2022–23 s,3 600.0,10 620.0,1 500.0,5 392.9,980,2 600.0,2 200.0,7 350.0,4 750.0,14 500.0,15,82.5
9,2023-24 f,3 300.0,6 600.0,1 540.4,4 618.9,800,1 100.0,2 200.0,4 900.0,4 650.0,8 150.0,12,85
10,Five–year average to 2022–23,3 151.7,7 848.9,1 437.9,4 031.1,749.6,1 450.9,1 916.2,4 359.2,4 471.5,10 406.7,9.5,58.5
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df3.dropna()

,Winter Crop,New South Wales,NSW,Victoria,VIC,Queensland,Q,South Australia,Unnamed: 8,Western Australia,Unnamed: 10,Tasmania,Unnamed: 12
3,2017–18,2 793.5,4 702.8,1 446.8,3 682.1,639.2,765.4,1 975.8,4 052.0,4 056.6,7 698.6,7.4,40.3
4,2018–19,2 382.0,1 850.3,1 402.9,2 276.6,419.7,419.7,1 820.8,3 024.5,4 369.2,9 979.2,7.6,40.1
5,2019–20,2 132.0,1 772.4,1 428.9,3 714.3,441.5,418.5,1 720.9,2 689.1,4 132.7,5 842.2,7.2,43.8
6,2020–21,4 037.0,12 972.2,1 413.4,4 525.0,966.1,1 594.2,1 831.0,3 982.2,4 387.5,8 792.7,8.2,56.3
7,2021–22,3 607.7,12 029.4,1 444.6,4 246.4,940.6,2 222.4,2 008.1,4 750.1,4 718.0,12 919.1,9.3,70
8,2022–23 s,3 600.0,10 620.0,1 500.0,5 392.9,980,2 600.0,2 200.0,7 350.0,4 750.0,14 500.0,15,82.5
9,2023-24 f,3 300.0,6 600.0,1 540.4,4 618.9,800,1 100.0,2 200.0,4 900.0,4 650.0,8 150.0,12,85
10,Five–year average to 2022–23,3 151.7,7 848.9,1 437.9,4 031.1,749.6,1 450.9,1 916.2,4 359.2,4 471.5,10 406.7,9.5,58.5

In [23]:
# Save config information.

url = "http://api.openweathermap.org/data/2.5/weather?"

In [7]:

query_url = "http://api.openweathermap.org/geo/1.0/direct?q=Wangaratta,\
Victoria,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35"
print(query_url)

http://api.openweathermap.org/geo/1.0/direct?q=Wangaratta,Victoria,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35

In [8]:
response = requests.get(query_url).json()
pprint(response)

[{'country': 'AU',
  'lat': -36.356434,
  'local_names': {'en': 'Wangaratta',
                  'ja': 'ウォンガラッタ',
                  'ru': 'Уонгаратта',
                  'uk': 'Вангаратта',
                  'zh': '旺加拉塔'},
  'lon': 146.3228311,
  'name': 'Wangaratta',
  'state': 'Victoria'}]

In [21]:
query_url = "http://api.openweathermap.org/geo/1.0/direct?q=Dubbo,\
New South Whales,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35"
print(query_url)

http://api.openweathermap.org/geo/1.0/direct?q=Dubbo,New South Whales,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35

In [22]:
response = requests.get(query_url).json()
pprint(response)

[]

In [15]:
query_url = "http://api.openweathermap.org/geo/1.0/direct?q=Cairns,\
Queensland,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35"
print(query_url)

http://api.openweathermap.org/geo/1.0/direct?q=Cairns,Queensland,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35

In [16]:
response = requests.get(query_url).json()
pprint(response)

[{'country': 'AU',
  'lat': -16.9206657,
  'local_names': {'en': 'Cairns',
                  'ja': 'ケアンズ',
                  'ru': 'Кэрнс',
                  'uk': 'Кернс',
                  'zh': '凯恩斯'},
  'lon': 145.7721854,
  'name': 'Cairns',
  'state': 'Queensland'},
 {'country': 'AU',
  'lat': -17.1022281,
  'local_names': {'en': 'Cairns Regional'},
  'lon': 145.7650465401662,
  'name': 'Cairns Regional',
  'state': 'Queensland'},
 {'country': 'AU',
  'lat': -26.2251498,
  'lon': 145.5666158,
  'name': 'Cairns',
  'state': 'Queensland'}]

In [17]:
query_url = "http://api.openweathermap.org/geo/1.0/direct?q=Coffin Bay,\
South Australia,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35"
print(query_url)

http://api.openweathermap.org/geo/1.0/direct?q=Coffin Bay,South Australia,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35

In [18]:
response = requests.get(query_url).json()
pprint(response)

[{'country': 'AU',
  'lat': -34.6211018,
  'local_names': {'en': 'Coffin Bay', 'ja': 'コフィン・ベイ'},
  'lon': 135.4632303,
  'name': 'Coffin Bay',
  'state': 'South Australia'}]

In [13]:
query_url = "http://api.openweathermap.org/geo/1.0/direct?q=Northam,\
Western Australia,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35"
print(query_url)

http://api.openweathermap.org/geo/1.0/direct?q=Northam,Western Australia,Australia&limit=5&appid=ecfc1269575767c464c5c0ae6a697a35

In [14]:
response = requests.get(query_url).json()
pprint(response)

[{'country': 'AU',
  'lat': -31.6535192,
  'local_names': {'en': 'Northam', 'ru': 'Нортем'},
  'lon': 116.6726927,
  'name': 'Northam',
  'state': 'Western Australia'},
 {'country': 'AU',
  'lat': -31.699163,
  'local_names': {'en': 'Shire Of Northam'},
  'lon': 116.66485065097014,
  'name': 'Shire Of Northam',
  'state': 'Western Australia'}]

In [28]:
query_url = "https://api.openweathermap.org/data/3.0/onecall/timemachine?\
lat=-36.356434&lon=146.3228311&dt=1706177416&appid=ecfc1269575767c464c5c0ae6a697a35"
print(query_url)

https://api.openweathermap.org/data/3.0/onecall/timemachine?lat=-36.356434&lon=146.3228311&dt=1706177416&appid=ecfc1269575767c464c5c0ae6a697a35

In [29]:
response = requests.get(query_url).json()
pprint(response)

{'cod': 401,
 'message': 'Please note that using One Call 3.0 requires a separate '
            'subscription to the One Call by Call plan. Learn more here '
            'https://openweathermap.org/price. If you have a valid '
            'subscription to the One Call by Call plan, but still receive this '
            'error, then please see https://openweathermap.org/faq#error401 '
            'for more info.'}

In [65]:
#Dubbo Temp

csvpath = os.path.join('.','Resources', 'Dubbo_NSW_BOM', 'Dubbo_Anuual_Mean_Max_Temp.csv')
df = pd.read_csv(csvpath)
print(csvpath)


# Open the CSV file and read the first 5 rows
#with open(csvpath, 'r', newline='') as file:
    #reader = csv.reader(file)
    
    # Use a loop to iterate over the first 5 rows
    #for i, row in enumerate(reader):
        #if i < 5:
            #print(row)
        #else:
            #break

# import pandas as pd
# Specify the columns you want to read
df = df[['Year','Annual']]

# Read only the specified columns from the CSV file
#df = pd.read_csv('Dubbo_Anuual_Mean_Max_Temp.csv', usecols=columns_to_read)

# Display the DataFrame
df

.\Resources\Dubbo_NSW_BOM\Dubbo_Anuual_Mean_Max_Temp.csv

    Year  Annual
0   1993    23.4
1   1994    24.3
2   1995    23.6
3   1996    23.3
4   1997    25.0
5   1998    23.7
6   1999    23.4
7   2000    23.1
8   2001    24.4
9   2002    25.5
10  2003    24.4
11  2004    25.0
12  2005    25.2
13  2006    25.9
14  2007    25.0
15  2008    23.9
16  2009    25.6
17  2010    23.2
18  2011    24.2
19  2012    24.5
20  2013    25.9
21  2014    25.6
22  2015    24.9
23  2016    24.6
24  2017    26.1
25  2018    26.4
26  2019    27.2
27  2020    24.6
28  2021    23.8
29  2022    23.1
30  2023    26.1

In [66]:
#Dubbo Rain
csvpath = os.path.join('.','Resources', 'Dubbo_NSW_BOM', 'Dubbo_Annual_Rainfall.csv')
df = pd.read_csv(csvpath)
print(csvpath)

df = df[['Year','Annual']]

df

.\Resources\Dubbo_NSW_BOM\Dubbo_Annual_Rainfall.csv

    Year  Annual
0   1994     NaN
1   1995     NaN
2   1996     NaN
3   1997     NaN
4   1998   851.0
5   1999   658.4
6   2000   809.0
7   2001   611.2
8   2002   381.8
9   2003   543.8
10  2004   469.4
11  2005   532.0
12  2006   228.6
13  2007   566.0
14  2008   610.6
15  2009   539.4
16  2010     NaN
17  2011   577.2
18  2012   608.6
19  2013   493.0
20  2014   571.6
21  2015   651.6
22  2016   916.4
23  2017   465.4
24  2018   311.6
25  2019   211.2
26  2020     NaN
27  2021   924.4
28  2022  1028.8
29  2023   425.8

In [67]:
#Cairns Temp
csvpath = os.path.join('.','Resources', 'Cairns_QL_BOM', 'Cairns_Annual_Mean_Max_Temp.csv')
df = pd.read_csv(csvpath)
print(csvpath)

df = df[['Year','Annual']]

df

.\Resources\Cairns_QL_BOM\Cairns_Annual_Mean_Max_Temp.csv

    Year  Annual
0   2013     NaN
1   2014    29.4
2   2015    29.5
3   2016    30.1
4   2017    29.7
5   2018    29.9
6   2019    29.3
7   2020    29.7
8   2021    29.6
9   2022    29.9
10  2023    29.5

In [68]:
#Cairns Rain
csvpath = os.path.join('.','Resources', 'Cairns_QL_BOM', 'Cairns_Annual_Rainfall.csv')
df = pd.read_csv(csvpath)
print(csvpath)

df = df[['Year','Annual']]

df

.\Resources\Cairns_QL_BOM\Cairns_Annual_Rainfall.csv

    Year  Annual
0   2013     NaN
1   2014  1741.0
2   2015     NaN
3   2016  1210.0
4   2017  1757.6
5   2018  3158.8
6   2019  2044.2
7   2020  1778.6
8   2021  2737.4
9   2022     NaN
10  2023     NaN

In [69]:
#Wangaratta Temp
csvpath = os.path.join('.','Resources', 'Wangaratta_VIC_BOM', 'Wangaratta_Annual_Mean_Max_Temp.csv')
df = pd.read_csv(csvpath)
print(csvpath)

df = df[['Year','Annual']]

df

.\Resources\Wangaratta_VIC_BOM\Wangaratta_Annual_Mean_Max_Temp.csv

    Year  Annual
0   1987     NaN
1   1988    22.2
2   1989    21.4
3   1990    21.9
4   1991    22.3
5   1992    20.6
6   1993    21.1
7   1994    21.8
8   1995    20.7
9   1996    20.6
10  1997    22.8
11  1998    22.1
12  1999     NaN
13  2000    21.9
14  2001    22.5
15  2002    23.1
16  2003    22.1
17  2004    22.1
18  2005    22.2
19  2006    23.6
20  2007    23.4
21  2008    22.3
22  2009    23.2
23  2010    21.8
24  2011    21.8
25  2012    21.9
26  2013    22.9
27  2014    23.0
28  2015    22.7
29  2016    22.4
30  2017    22.7
31  2018    23.4
32  2019    23.3
33  2020    22.1
34  2021    21.5
35  2022    21.3
36  2023    22.2

In [70]:
#Wangaratta Rain
csvpath = os.path.join('.','Resources', 'Wangaratta_VIC_BOM', 'Wangaratta_Annual_Rain.csv')
df = pd.read_csv(csvpath)
print(csvpath)

df = df[['Year','Annual']]

df

.\Resources\Wangaratta_VIC_BOM\Wangaratta_Annual_Rain.csv

    Year  Annual
0   1987     NaN
1   1988   783.0
2   1989   806.6
3   1990   674.1
4   1991   612.9
5   1992   960.8
6   1993   856.8
7   1994   485.5
8   1995   824.9
9   1996   781.1
10  1997   385.0
11  1998   535.8
12  1999   651.4
13  2000   565.3
14  2001   577.6
15  2002   415.2
16  2003   658.0
17  2004   492.4
18  2005   728.2
19  2006   283.0
20  2007   441.8
21  2008   488.6
22  2009   420.6
23  2010     NaN
24  2011   699.2
25  2012   604.8
26  2013   492.4
27  2014   598.0
28  2015     NaN
29  2016   780.8
30  2017     NaN
31  2018     NaN
32  2019   343.4
33  2020   549.6
34  2021   647.6
35  2022   878.6
36  2023   626.8

In [71]:
#Coffin Bay SA Temp Note: Wanilla closest location found
csvpath = os.path.join('.','Resources', 'CoffinBay_SA_BOM', 'Wanilla_Annual_Mean_Max_Temp.csv')

df = pd.read_csv(csvpath)
print(csvpath)

df = df[['Year','Annual']]

df

.\Resources\CoffinBay_SA_BOM\Wanilla_Annual_Mean_Max_Temp.csv

    Year  Annual
0   1992     NaN
1   1993    21.9
2   1994    21.8
3   1995    20.3
4   1996    20.3
5   1997    20.6
6   1998    20.9
7   1999    20.8
8   2000    21.0
9   2001    20.8
10  2002    21.2
11  2003    20.7
12  2004    21.3
13  2005    21.5
14  2006    21.3
15  2007    22.1
16  2008    21.3
17  2009    21.8
18  2010    20.9
19  2011    21.2
20  2012    21.8
21  2013    22.4
22  2014    22.1
23  2015    21.6
24  2016    21.2
25  2017    21.8
26  2018    22.0
27  2019    22.1
28  2020    21.0
29  2021    21.1
30  2022    20.5
31  2023    21.3

In [72]:
#Coffin Bay SA Rain Note: Wanilla closest location found
csvpath = os.path.join('.','Resources', 'CoffinBay_SA_BOM', 'Wanilla_Annual_Rainfall.csv')

df = pd.read_csv(csvpath)
print(csvpath)

df = df[['Year','Annual']]

df

.\Resources\CoffinBay_SA_BOM\Wanilla_Annual_Rainfall.csv

    Year  Annual
0   1994     NaN
1   1995   379.8
2   1996   364.0
3   1997   349.2
4   1998   376.2
5   1999   299.0
6   2000   447.0
7   2001   469.9
8   2002   325.8
9   2003   527.2
10  2004   314.8
11  2005   448.0
12  2006   312.8
13  2007   349.0
14  2008   379.6
15  2009   399.2
16  2010   556.6
17  2011   435.8
18  2012   308.2
19  2013   461.0
20  2014   380.2
21  2015   301.2
22  2016   497.4
23  2017   378.6
24  2018   293.6
25  2019   261.8
26  2020   485.0
27  2021   419.8
28  2022   652.0
29  2023     NaN

In [73]:
#Northam WA Temp
csvpath = os.path.join('.','Resources', 'Northam_WA_BOM', 'Northam_Annual_Mean_Max_Temp.csv')

df = pd.read_csv(csvpath)
print(csvpath)

df = df[['Year','Annual']]

df

.\Resources\Northam_WA_BOM\Northam_Annual_Mean_Max_Temp.csv

     Year  Annual
0    1902    25.5
1    1903    24.5
2    1904    24.9
3    1905    24.7
4    1906    25.5
..    ...     ...
117  2019    27.1
118  2020    26.4
119  2021    25.3
120  2022    25.6
121  2023    26.9

[122 rows x 2 columns]

In [74]:
#Northam WA Rain
csvpath = os.path.join('.','Resources', 'Northam_WA_BOM', 'Northam_Annual_Rainfall.csv')
df = pd.read_csv(csvpath)
print(csvpath)

df = df[['Year','Annual']]

df

.\Resources\Northam_WA_BOM\Northam_Annual_Rainfall.csv

     Year  Annual
0    1877   353.1
1    1878   363.2
2    1879   210.9
3    1884   431.1
4    1885   490.3
..    ...     ...
138  2019   274.2
139  2020   286.6
140  2021   638.4
141  2022   420.6
142  2023   268.7

[143 rows x 2 columns]

In [63]:
# List of states
states = ["VIC", "NSW", "QL", "SA", "TAS"]
states

# set up lists to hold reponse info
#lat = []
#temp = []

# Loop through the list of cities and perform a request for data on each
#for city in cities:
    #response = requests.get(query_url + city).json()
    #lat.append(response['coord']['lat'])
    #temp.append(response['main']['temp'])

#print(f"The latitude information received is: {lat}")
#print(f"The temperature information received is: {temp}")

['VIC', 'NSW', 'QL', 'SA', 'TAS']

In [ ]:
#Link to APIs (week 6.3), API codes and CSVs (week 4)
    #Add API key file to gitignore

In [ ]:
#Set up APIs (week 6.3)

In [ ]:
#Manipulate CSVs (week 4)

In [ ]:
#Begin mathematical analysis (week 5)
    #Over 6 -- at least 2 per question
    #Ensure labels completed